/* Main CSS Theme */
:root {
    --mafro-primary-hex: #402020;
    --mafro-primary-rgb: 64,32,32;
    --mafro-secondary-rgb: #204040;
    --mafro-secondary-rgb: 32, 48, 64;
    --mafro-light-hex: #cfc7c7;
    --mafro-light-rgb: 207, 199, 199;

}

.text-mafro {
    --bs-bg-opacity: 1;
    color: rgba(var(--mafro-primary-rgb),var(--bs-bg-opacity))!important
}

.text-mafro-secondary {
    --bs-bg-opacity: 1;
    color: rgba(var(--mafro-secondary-rgb),var(--bs-bg-opacity))!important
}

.text-mafro-light {
    --bs-bg-opacity: 1;
    color: rgba(var(--mafro-light-rgb),var(--bs-bg-opacity))!important
}

.bg-mafro {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--mafro-primary-rgb),var(--bs-bg-opacity))!important
}

.bg-mafro-secondary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--mafro-secondary-rgb),var(--bs-bg-opacity))!important
}

.bg-mafro-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--mafro-light-rgb),var(--bs-bg-opacity))!important
}

.mafro-main-div {
    height: 100%;
    width: 100%;
}

.hero-wrap {
    width: 100%;
    height: 100%;
    position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative; }
@media (max-width: 1199.98px) {
    .hero-wrap {
        background-position: center center !important; }
}
.hero-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .8;
    background: #f200ff;
    background: -moz-linear-gradient(45deg, #f200ff 0%, #ffba42 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #f200ff), color-stop(100%, #ffba42));
    background: -webkit-linear-gradient(45deg, #f200ff 0%, #ffba42 100%);
    background: -o-linear-gradient(45deg, #f200ff 0%, #ffba42 100%);
    background: -ms-linear-gradient(45deg, #f200ff 0%, #ffba42 100%);
    background: linear-gradient(45deg, #f200ff 0%, #ffba42 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f200ff', endColorstr='#ffba42', GradientType=1 );
}
